apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  name: {{ .clusterName }}
spec:
  api:
    loadBalancer:
      class: Network
      type: Public
      subnets:
        - name: utility-us-east-1a
        - name: utility-us-east-1b
        - name: utility-us-east-1c
  authorization:
    rbac: {}
  channel: stable
  cloudLabels:
    environment: {{ .environment }}
    managed-by: kops
    project: devops-case-study
  cloudProvider: aws
  clusterAutoscaler:
    awsUseStaticInstanceList: false
    balanceSimilarNodeGroups: true
    emitPerNodegroupMetrics: true
    enabled: true
    expander: least-waste
  configBase: {{ .stateStore }}/{{ .clusterName }}
  etcdClusters:
    - cpuRequest: 200m
      etcdMembers:
        - encryptedVolume: true
          instanceGroup: control-plane-us-east-1a
          name: a
        - encryptedVolume: true
          instanceGroup: control-plane-us-east-1b
          name: b
        - encryptedVolume: true
          instanceGroup: control-plane-us-east-1c
          name: c
      manager:
        backupRetentionDays: 90
      memoryRequest: 100Mi
      name: main
    - cpuRequest: 100m
      etcdMembers:
        - encryptedVolume: true
          instanceGroup: control-plane-us-east-1a
          name: a
        - encryptedVolume: true
          instanceGroup: control-plane-us-east-1b
          name: b
        - encryptedVolume: true
          instanceGroup: control-plane-us-east-1c
          name: c
      manager:
        backupRetentionDays: 90
      memoryRequest: 100Mi
      name: events
  iam:
    allowContainerRegistry: true
    legacy: false
  kubeProxy:
    enabled: false
  kubelet:
    anonymousAuth: false
  kubernetesApiAccess:
  {{- range .apiAllowedCIDRs }}
    - {{ . }}
  {{- end }}
  kubernetesVersion: 1.35.0
  networkCIDR: 10.20.0.0/16
  networking:
    cilium:
      enableNodePort: true
  nodeTerminationHandler:
    enableSQSTerminationDraining: true
    enabled: true
    prometheusEnable: true
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  {{- range .apiAllowedCIDRs }}
    - {{ . }}
  {{- end }}
  subnets:
    - cidr: 10.20.64.0/18
      name: us-east-1a
      type: Private
      zone: us-east-1a
    - cidr: 10.20.128.0/18
      name: us-east-1b
      type: Private
      zone: us-east-1b
    - cidr: 10.20.192.0/18
      name: us-east-1c
      type: Private
      zone: us-east-1c
    - cidr: 10.20.0.0/21
      name: utility-us-east-1a
      type: Utility
      zone: us-east-1a
    - cidr: 10.20.8.0/21
      name: utility-us-east-1b
      type: Utility
      zone: us-east-1b
    - cidr: 10.20.16.0/21
      name: utility-us-east-1c
      type: Utility
      zone: us-east-1c
  topology:
    dns:
      type: None
